<!DOCTYPE>
<html lang="en">
<head>
  <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css" />
  <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/static/css/style.css" />
  <title>EECS485</title>
</head>
<body>


  <div class="container">
    <h1>Poops, Page Not Found.</h1>
	<h2>But we found this.</h2>
	<img src="https://upload.wikimedia.org/wikipedia/commons/f/f4/Poltava_chicken_breed_male2.jpg">
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/main.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</body>

</html>



